/* Font settings */
@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}
:root {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Basic layout settings */
body, main {
    margin: 0px;
    padding: 0px;
    height:100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
label {
    display: block;
    text-align: left;
}

/* Paragraph settings */
p {
    font-size: larger;
}

/* Footer settings */
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgb(70, 70, 70);
    color: white;
}
footer>p {
    margin: 0px;
    padding: 10px;
}

/* Navigation bar settings */
nav {
    background-color: rgb(70, 70, 70);
    display: grid;
    grid-template-columns: 20vw 20vw 1fr 10vw 10vw 10vw;
    grid-template-rows: 1fr;
    height: 40px;
    text-align: center;
}

/* Navigation link settings */
nav>a {
    color: white;
    font-weight: bolder;
    padding-top: 5px;
    text-decoration: none;
    transition: all .5s;
}

/* Navigation link hover and active settings */
nav>a:hover, .active:hover {
    background-color: rgb(32, 32, 32);
}

.active {
    background-color: seagreen;
}

.active:hover {
    background-color: seagreen;
}

/* Div settings */
div.settings {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Paragraph settings within list items */
li>p {
    margin-bottom: 0px;
}

/* Form settings within sections */
section>form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: fit-content;
}

/* Input settings within forms */
section>form>input {
    margin: 10px 0;
}

/* General button settings */
button {
    font-size: 17px;
    padding: 5px 12px;
}

/* Hover settings for links with class 'text' */
a.text:hover {
    background-color: rgb(70, 70, 70);
    color: #04AA6D;
    cursor: default;
}

/* Button settings for classes 'yes', 'no', 'blu' */
.yes, .no, .blu {
    border-radius: 5px;
    color: white;
    transition-duration: 0.4s;
}

/* Button settings for class 'yes' */
.yes {
    background-color: #04AA6D;
    border: 2px solid #04AA6D;
    margin-top: 20px;
}

/* Button settings for class 'no' */
.no {
    background-color: #f44336;
    border: 2px solid #f44336;
}

/* Button settings for class 'blu' */
.blu {
    background-color: #008CBA;
    border: 2px solid #008CBA;
}
form:has(.blu) {
    margin-left: auto;
}

/* Hover settings for buttons with classes 'yes', 'no', 'blu' */
.yes:hover, .no:hover, .blu:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.book {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: all .5s;
}

.book>a>img {
    border: 3px solid black;
    border-radius: 10px;
    align-self: center;
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
}

.book>a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search>button {
    padding: 0;
    height: 28px;
    margin-left: 5px;
}

.search {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.found {
    grid-column: 1 / 5;
}

.atext {
    color: black;
    text-decoration: none;
}
.atext:hover {
    transform: scale(1.1);
}

.book_container form {
    grid-column: 1 / span 2;
    display: grid;
}

.book_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    margin: 20px auto; /* Center the container and add vertical margin */
    max-width: 800px; /* Limit the maximum width */
    box-sizing: border-box;
}

.book_container h1 {
    grid-column: 2;
    font-size: 2em;
    margin-bottom: 10px;
    justify-self: center;
}

.book_container .desc {
    grid-column: 1 / span 2;
}

.book_container img {
    border-radius: 20px;
    grid-row: 1 / span 3;
    max-width: 100%; /* Make the image responsive */
    height: auto;
    justify-self: center; /* Center the image horizontally */
    text-align: center;
}

.book_container p {
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.book_container button:hover {
    background-color: #4CAF50;
    color: white;
}

.book_container button {
    grid-column: 1 / span 2;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
    align-self: center; /* Center the button vertically */
    justify-self: center; /* Center the button horizontally */
    width: 80%; /* Make the button wider */
    margin-left: auto; /* Center the button */
    margin-right: auto; /* Center the button */
}

.book_container button:hover {
    background-color: #4CAF50;
    color: white;
}

p.error {
    color: red;
    font-size: 0.8em;
    text-align: left;
    margin: 0 0 5px 0;
}

/* Navigation bar */

input[type="checkbox"] {
    z-index: 12;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    margin: 0 3px 0 0;
}
.icons {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    margin-right: 3px;
    display: none;
}
.checkout>button {
    margin-bottom: 20px;
}

input.look {
    border-radius: 10px 0 0 10px;
    padding-left: 7px;
}
button.look {
    border-radius: 0 10px 10px 0;
    padding-right: 2px;
    background-color: black;
    cursor: pointer;
}

div.fix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1040px) {
    .books {
        grid-template-columns: 1fr;
    }
    .book_container {
        grid-template-columns: 1fr;
    }
    input[type="checkbox"] {
        display: block;
        opacity: 0;
    }
    a.text {
        display: none;
    }
    nav>a {
        background-color: rgb(70, 70, 70);
        z-index: 8;
        display: none;
        width: 100%;
        height: 40px;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px;
    }
    .icons {
        transition: all 1s ease;
    }
    .menu {
        display: block;
    }
    .close {
        opacity: 0;
        display: block;
    }
    header input:checked ~ .menu{
        transform: scale(0.5) rotate(360deg);
        transition-duration: 1s;
        opacity: 0;
    }
    header input:checked ~ .close{
        transform: scale(1) rotate(360deg);
        transition-duration: 1s;
        opacity: 1;
    }
    header input:checked ~ nav>a {
        display: inline-block;
    }
    header input:checked ~ nav>a.text {
        display: none;
    }
}